html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

div {
    height: 100px;
    background-color: #999;
}

.col-10 {
    width: 10%;
}

.col-25 {
    width: 25%;
}

.col-50 {
    width: 50%;
}

.col-100 {
    width: 100%;
}

span.destaque  {
    color: chartreuse;
}

span.ano {
    color: crimson;
}
