.titulo {
    font-size: 42px; color: #ff00ff;
}
.subtitulo {
    font-size: 28px; color: #00ff00;
}
.lista {
    font-size: 14px; background-color: #eeeeee;
}
.laranja {
    color: orange;
}
.marrom {
    color: brown;
}
.link {
    color: #eeeeee;
}