div{
    width: 200px;
    height: 100px;
    background-color: red;
    margin: 2px;
}

.left-float{
    float: left;
}

.bg-verde{
    background-color: green;
}

.bg-azul{
    background-color: blue;
}

.bg-preto{
    background-color: black;
}

.bg-vermelho{
    background-color: red;
}