#helvetica {
    font-family: helvetica;
}

.titulo {
    font-size: 32px ; color: red;
}

.subtitulo {
    font-size: 28px; color: green;
}

.lista {
    font-size: 16px;
}

.azul {
    color: blue;
}

.vermelho {
    color: red;
}

.marrom {
    color: brown;
}

.verde {
    color: green;
}

.roxo {
    color: purple;
}
