html, body {
    margin: 0;
    padding: 0;
}

div{
    height: 100Px;
}

.col-100{
    width: 100%;
}

.col-50{
    width: 50%;
}

.col-25{
    width: 25%;
}

.col-20{
    width: 20%;
}

.left-float{
    float: left;
}

.bg-vermelho{
    background-color: red;
}

.bg-azul{
    background-color: blue;
}

.bg-verde{
    background-color: green;
}

.bg-amarelo{
    background-color: yellow;
}

.bg-cinza{
    background-color: gray;
}

.bg-turquesa{
    background-color: turquoise;
}

.bg-vermelhoEscuro{
    background-color: darkred;
}

.bg-laranja{
    background-color: orange;
}

.bg-rosa{
    background-color: pink;
}

.bg-roxo{
    background-color: purple;
}

.bg-preto{
    background-color: black;
}
.bg-cinzaEscuro{
    background-color: darkslategray;
}